@{
    ViewBag.Title = "Lista De Personagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Globalization

<div class="subtitulo">

    <h1>
        <strong>
            Lista De Personagens
        </strong>
    </h1>

</div>
<div class="fichatecnica">

</div>