@{
    ViewBag.Title = "Ficha Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="subtitulo">

    <h1>
        <strong>
            Sobre
        </strong>
    </h1>
    <div class="perfilsobre">
        <h1>Rafael Henrique da Silva</h1>
        <div>
            <p>
                <strong>Sobre o Autor:</strong> @model.Sobre
            </p>
        </div>
    </div>

</div>