@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link href="~/Content/estilos.css" rel="stylesheet" />
</head>
<body>
    <div class="cabecalho">
        <span>
            <a href="~/StreetFighter/Index">
                Início
            </a>
        </span>
        <span>
            <a href="~/StreetFighter/Cadastro">
                Cadastro
            </a>
        </span>
        <span>
            <a href="~/StreetFighter/ListaDePersonagens">
                Lista de Personagens
            </a>
        </span>
        <span>
            <a href="~/StreetFighter/SobreModel">
                Sobre
            </a>
        </span>
    </div>


    <div class="conteudo">
        @RenderBody()
    </div>
</body>
</html>
